{% block form_row %}
    <div class="input-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block form_label %}
    {% if label != false %}
        <span class="input-group-btn">
            <button class="btn btn-primary"
                    type="button">{{ label }}</button>
        </span>
    {% endif %}
{% endblock %}

{% block checkbox_row %}
    <div class="form-group">
        <label class="control-label">
            <input type="checkbox" name="{{ full_name }}" value="{{ value }}" {% if checked %} checked="checked"{% endif %}/>
            {{ label }}
        </label>
    </div>
{% endblock %}
