<div class="col-md-12">
    <table class="table table-datatable" data-order='[[ 1, "asc" ]]'>
        <thead class="thead-inverse">
        <tr>
            <th>Distrib' du</th>
            <th>Tâche</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
        </tr>
        </thead>
        <tbody>
        {% for distribution in distributions %}
            <tr>
                <th data-order="{{ distribution.date|date("U") }}">
                    {{ distribution.date|date }}
                </th>
                <td>
                    {{ distribution.detail.tache }}
                </td>
                <td>
                    {{ distribution.detail.heureDebut }}
                </td>
                <td>
                    {{ distribution.detail.heureFin }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
