{% extends 'base_connected.html.twig' %}

{% form_theme form 'form/form_theme_fulllarge.html.twig' %}

{% block title %}Modifier un créneau de distribution{% endblock %}

{% block main %}
    {{ form_start(form) }}

        {{ form_row(form.amapLivraisonLieu) }}
        <hr />
        {{ form_row(form.detail.tache) }}
        <hr />
        {{ form_row(form.detail.nbPersonnes) }}
        <hr />
        {{ form_row(form.detail.heureDebut) }}
        {{ form_row(form.detail.heureFin) }}
        <hr />
        {{ form_row(form.date) }}

        <div>
            <button type="submit" class="btn btn-success pull-right ml-1">Sauvegarder</button>
            <a href="{{ site_url('distribution') }}" class="pull-right btn btn-default">Retour</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
