{% extends 'base_connected.html.twig' %}

{% block title %}Gestion de la distrib' AMAP{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% import "macro/_modals.html.twig" as modals %}

{% block main %}
    <div class="alert alert-info">
        Cette page vous permet de gérer vos créneaux de distributions ainsi que les inscriptions. <br />
        Des emails de rappels sont envoyés uniquement aux amapiens :<br />
        - à tous s’il manque des inscrits 18 jours, 6 jours et 1 jour avant la distrib’<br />
        - aux inscrits 18 jours et 6 jours avant la distrib’<br />
        - à chaque fois que vous inscrivez ou désinscrivez un amapien<br />

    </div>

    {{ form_start(searchForm) }}
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(searchForm.livLieu) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(searchForm.period) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(searchForm.complete) }}
                </div>
            </div>
        </div>
    {{ form_end(searchForm) }}

    <a href="{{ site_url('distribution/ajout') }}" class="btn btn-success"><i
        class="glyphicon glyphicon-plus"></i> Ajouter un créneau</a>

    {% if distributions|length > 0 %}
        <a
            id="js-bulk-delete"
            href="#"
            data-href="{{ site_url('distribution/supprimer_masse') }}"
            class="btn btn-danger"
            disabled=""
        >
            <i class="glyphicon glyphicon-remove"></i> Supprimer les créneaux sélectionnés
        </a>
        <a
                id="js-bulk-edit"
                href="#"
                data-href="{{ site_url('distribution/edit_masse') }}"
                class="btn btn-success"
                disabled=""
        >
            <i class="glyphicon glyphicon-edit"></i> Modifier les créneaux sélectionnés
        </a>
        <a
                id="js-bulk-download"
                href="#"
                data-href="{{ site_url('distribution/telecharger_masse') }}"
                class="btn btn-success"
                disabled=""
        >
            <i class="glyphicon glyphicon-download"></i> Télécharger les créneaux sélectionnés
        </a>
    {% endif %}

    {% if distributions|length == 1 %}
        <div class="alert alert-warning">1 créneau pour cette recherche</div>
    {% else %}
        <div class="alert alert-warning">{{ distributions|length }} créneaux pour cette recherche</div>
    {% endif %}

    {% if distributions|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 1, "asc" ]]' data-select="">
                <thead class="thead-inverse">
                    <tr>
                        <th data-orderable="false"><input type="checkbox" class="js-datatable-select-all" /> </th>
                        <th data-order-data='[1, 3]'>Distrib' du</th>
                        <th>Tâche</th>
                        <th>Heure de début</th>
                        <th>Heure de fin</th>
                        <th>Personnes manquantes/nécessaires</th>
                        <th class="text-right">Outils</th>
                    </tr>
                </thead>
                <tbody>
                    {% for distribution in distributions %}
                        <tr data-id="{{ distribution.id }}">
                            <td class="select-checkbox"></td>
                            <th data-order="{{ distribution.date|date("U") }}">
                                {{ distribution.date|date }}
                            </th>
                            <td>
                                {{ distribution.detail.tache }}
                            </td>
                            <td>
                                {{ distribution.detail.heureDebut }}
                            </td>
                            <td>
                                {{ distribution.detail.heureFin }}
                            </td>
                            <td>
                                {{ distribution.placesRestantes }}/{{ distribution.detail.nbPersonnes }}
                            </td>
                            <td>
                                {{ modals.modal_post(
                                        "modal_remove_" ~ distribution.id,
                                        "Supprimer le créneau",
                                        "Êtes-vous sur de vouloir supprimer ce créneau ? Cette action est irréversible. Les amapiens incrits seront prévenus.",
                                        base_url('distribution/supprimer/' ~ distribution.id),
                                        "Confirmer la suppression du créneau"
                                    ) }}
                                <a
                                        title="Gestion des inscriptions"
                                        href="{{ base_url('distribution/detail/' ~ distribution.id) }}">
                                    <i class="glyphicon glyphicon-user" data-toggle="tooltip" title="Gestion des inscriptions"></i>
                                </a>&nbsp;
                                <a
                                    title="Modifier le créneau"
                                    href="{{ base_url('distribution/edit/' ~ distribution.id) }}">
                                    <i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Modifier le créneau"></i>
                                </a>&nbsp;
                                <a
                                        title="Supprimer le créneau"
                                        href="#"
                                        data-toggle="modal"
                                        data-target="#{{ "modal_remove_" ~ distribution.id }}">
                                    <i class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Supprimer le créneau"></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        function updateLinkRemove(selectedIds)
        {
            var $btnRemove = $('#js-bulk-delete');
            if(selectedIds.length === 0) {
              $btnRemove.attr('disabled', true);
              $btnRemove.attr('href', '#');
              return;
            }

            $btnRemove.attr('disabled', false);

            $btnRemove.attr(
              'href',
               $btnRemove.data('href') + "?ids=" + selectedIds.join(',')
               );

        }
        function updateLinkEdit(selectedIds)
        {
            var $btnEdit = $('#js-bulk-edit');
            if(selectedIds.length === 0) {
              $btnEdit.attr('disabled', true);
              $btnEdit.attr('href', '#');
              return;
            }

            $btnEdit.attr('disabled', false);

            $btnEdit.attr(
              'href',
               $btnEdit.data('href') + "?ids=" + selectedIds.join(',')
               );

        }
        function updateLinkDownload(selectedIds)
        {
            var $btnDownload = $('#js-bulk-download');
            if(selectedIds.length === 0) {
              $btnDownload.attr('disabled', true);
              $btnDownload.attr('href', '#');
              return;
            }

            $btnDownload.attr('disabled', false);

            $btnDownload.attr(
              'href',
               $btnDownload.data('href') + "?ids=" + selectedIds.join(',')
               );

        }
        $(document).ready(function() {
          const dataTable = $('.table-datatable')
            .DataTable()
            .on( 'select', function ( e, dt, type, indexes ) {
                updateLinks();
            } )
            .on( 'deselect', function ( e, dt, type, indexes ) {
                updateLinks();
            } );

          $('.js-datatable-select-all').on('change', function () {
            if(this.checked) {
                dataTable.rows().select();
                updateLinks();
            } else {
                dataTable.rows().select(false);
                updateLinks();
            }
          })

          function updateLinks()
            {
                var selectedIds = [];
                dataTable
                    .rows( { selected: true } )
                    .nodes()
                    .each(function (elt) {
                      selectedIds.push(elt.getAttribute('data-id'))
                    })
                ;
                updateLinkRemove(selectedIds);
                updateLinkEdit(selectedIds);
                updateLinkDownload(selectedIds);
            }
          ;
        });
    </script>

{% endblock %}
