{% extends 'base_connected.html.twig' %}

{% block title %}Mes distrib' AMAP{% endblock %}

{% form_theme searchForm 'form/form_theme_search.html.twig' %}

{% block main %}
    <div class="alert alert-info">
        Cette page vous permet de gérer vos inscriptions distrib'AMAP. <br />
        Utilisez la case à cocher pour les visualiser uniquement les créneaux sur lesquels vous êtes inscrits.
    </div>

    {{ form_start(searchForm) }}
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                {{ form_row(searchForm.livLieu) }}
            </div>
            <div class="col-md-4">
                {{ form_row(searchForm.period) }}
            </div>
            <div class="col-md-4">
                {{ form_row(searchForm.registered) }}
            </div>
        </div>
    </div>
    {{ form_end(searchForm) }}


    {% if distributions|length == 0 %}
        <div class="alert alert-warning">Votre AMAP n'a pas encore réalisé de créneaux de distribution</div>
    {% endif %}

    {% if distributions|length > 0 %}
        <div class="col-md-12">
            <table class="table table-datatable" data-order='[[ 0, "asc" ]]'>
                <thead class="thead-inverse">
                <tr>
                    <th data-order-data='[0, 2]'>Distrib' du</th>
                    <th>Tâche</th>
                    <th>Heure de début</th>
                    <th>Heure de fin</th>
                    <th>Personnes manquantes/nécessaires</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for distribution in distributions %}
                    <tr>
                        <th data-order="{{ distribution.date|date("U") }}">
                            {{ distribution.date|date }}
                        </th>
                        <td>
                            {{ distribution.detail.tache }}
                        </td>
                        <td>
                            {{ distribution.detail.heureDebut }}
                        </td>
                        <td>
                            {{ distribution.detail.heureFin }}
                        </td>
                        <td>
                            {{ distribution.placesRestantes }}/{{ distribution.detail.nbPersonnes }}
                        </td>
                        <td>
                            {% if is_granted(constant("PsrLib\\Services\\Security\\SecurityChecker::ACTION_DISTRIBUTION_AMAPIEN_REGISTER"), distribution) %}
                                <form action="{{ site_url('distribution/inscription/' ~ distribution.id) }}" method="POST">
                                    <button class="btn btn-success" title="S'inscrire">S'inscrire</button>
                                </form>
                            {% endif %}
                            {% if is_granted(constant("PsrLib\\Services\\Security\\SecurityChecker::ACTION_DISTRIBUTION_AMAPIEN_UNREGISTER"), distribution) %}
                                <form action="{{ site_url('distribution/desinscription/' ~ distribution.id) }}" method="POST">
                                    <button class="btn btn-danger" title="Se désinscrire">Se désinscrire</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
