{% extends 'base_connected.html.twig' %}

{% block title %}Supprimer en masse des distributions{% endblock %}


{% block main %}
    <div class="alert alert-danger">
        Attention : vous allez supprimer les distributions suivantes. Cette action est irréversible.
    </div>

    <div class="col-md-12">
        <table class="table table-datatable" data-order='[[ 1, "asc" ]]'>
            <thead class="thead-inverse">
                <tr>
                    <th>Distrib' du</th>
                    <th>Tâche</th>
                    <th>Heure de début</th>
                    <th>Heure de fin</th>
                </tr>
            </thead>
            <tbody>
                {% for distribution in distributions %}
                    <tr>
                        <th data-order="{{ distribution.date|date("U") }}">
                            {{ distribution.date|date }}
                        </th>
                        <td>
                            {{ distribution.detail.tache }}
                        </td>
                        <td>
                            {{ distribution.detail.heureDebut }}
                        </td>
                        <td>
                            {{ distribution.detail.heureFin }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ form_start(form) }}
        <div>
            {{ form_widget(form.submit, {'attr': {'class': 'btn-danger pull-right ml-1'}}) }}
            <a href="{{ base_url('/distribution') }}" class="btn btn-default pull-right">Annuler</a>
        </div>
    {{ form_end(form) }}
{% endblock %}
