{% extends 'base_connected.html.twig' %}

{% block title %}Les administrateurs du département {{ departement.nom }}{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type="text/javascript">
    //*ALERTES & AUTOCOMPLÉTION CP / VILLE */
      $(document).ready(function () {
        $('#alerte').modal('show');

        setTimeout(function () {
          $('#alerte').modal('hide')
        }, 2500);
    // ATTENTION, OUTIL D'AUTOCOMPLÉTION DU RÉSEAU !
      $(function () {
        $("#amapien").autocomplete({
          source: "{{ site_url('ajax/get_amapien_suggestion') }}",
          dataType: "json",
          minLength: 2,
          appendTo: "#container"
        });
      });
    });
    </script>
{% endblock %}

{% block breadcrumb %}
    <h5><a href=" {{ site_url('region') }}">Les régions</a> <i class="glyphicon glyphicon-menu-right"></i> {{ departement.region.nom }} <i class="glyphicon glyphicon-menu-right"></i>
    <a href=" {{ site_url('region/departement/' ~ departement.region.id) }}">Les départements</a> <i class="glyphicon glyphicon-menu-right"></i>{{ departement.nom }}<i class="glyphicon glyphicon-menu-right"></i> Administrateurs</h5>
{% endblock %}

{% block main %}
  <div class="alert alert-info">
   Si vous voulez ajouter un administrateur au département, utilisez le champ ci-dessous en vous aidant des suggestions proposées en cours de frappe. Dans le champ d'ajout, il convient de commencer par le nom. L'ajout se fera via l'email afin d'éviter tout problème en cas d'homonyme. Pour ensuite retirer les droits d'administration à l'amapien, il suffit de cliquer sur l'amapien à supprimer.
  </div>

 <form method="POST" action="{{ site_url('region/add_dep_admin/' ~ departement.id) }}">
    <div class="row">
      <div class="form-group col-sm-12">
        <input type="text" class="form-control" id="amapien" name="amapien" value="" placeholder="Exemple : Dupont Jean"/>
        <div id="container" class="ui-autocomplete" style="width:100%;font-size:11px;"></div>
          {{ ci_form_error('amapien') }}
      </div>
      <div class="form-group col-sm-12">
        <input type="submit" value="Ajouter" class="btn btn-success pull-right"/>
      </div>
    </div>
  </form>

  {% for dep_admin in departement.admins %}
    {% if dep_admin.id != app.currentUser.id %}
      <a href="#" data-toggle="modal" data-target="{{ 'modal_' ~ dep_admin.id }}" ><button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Retirer les droits à l\'amapien">{{ dep_admin.nom|upper }} {{ dep_admin.prenom|capitalize }}<i class="glyphicon glyphicon-remove"></i></button></a></br>
    {% else %}
      <button class="btn btn-default btn-sm" disabled >{{ dep_admin.nom|upper }} {{ dep_admin.prenom|capitalize }}</button></br>
    {% endif %}
    <div class="modal fade text-left" id="{{ 'modal_' ~ dep_admin.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Département "{{ departement.nom }}"</h4>
          </div>
          <div class="modal-body">
            <h5>Voulez-vous vraiment retirer les droits d\'administration à  "{{ dep_admin.nom }} {{ dep_admin.prenom }}" ?</h5>
            <p class="text-right">
              <a href="{{ site_url('region/remove_dep_admin/' ~ departement.region.id ~ '/' ~ dep_admin.id) }}" class="btn btn-danger btn-sm">OUI</a></br>
              <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}




