{% extends 'base_connected.html.twig' %}

{% block title %}Les départements de la région {{ region }}{% endblock %}

{% block main %}
    {% if departement_all|length > 0 %}
        <div class="alert alert-info">À l'aide des outils de cette liste, vous pourrez ajouter des administrateurs aux régions ainsi qu'aux départements.</div>

        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Départements</th>
                <th class="text-right">Outils</th>
                </tr>
            </thead>
            <tbody>

            {% for departement in departement_all %}
            <tr>
                <th scope="row">
                    {{ departement.nom|capitalize }}
                </th>

                <td class="text-right">
                    {# Icone du département  #}
                    <a title="Icone du département" href="{{ site_url('region/departement_logo/' ~ departement.id) }}"><i class="glyphicon glyphicon-picture" data-toggle="tooltip" title="Icone du département"></i></a>&nbsp;
                    {# Administrateurs du département #}
                    <a title="Administrateurs du département" href="{{ site_url('region/dep_admin/' ~ departement.id) }}"><i class="glyphicon glyphicon-education" data-toggle="tooltip" title="Administrateurs du département"></i></a>&nbsp;

                    </td>
                </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
