{% extends 'base_connected.html.twig' %}

{% block title %}Gestion des regroupements de fermes{% endblock %}

{% import "macro/_modals.html.twig" as modals %}

{% block main %}
    <div class="col-md-12">
        <a
            href="{{ site_url('ferme_regroupement/ajout') }}"
            class="btn btn-success"
        >Ajouter un regroupement</a>
    </div>
    <div class="col-md-12">
        <table class="table table-datatable">
            <thead class="thead-inverse">
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Fermes</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for regroupement in regroupements %}
                <tr>
                    <th>
                        {{ regroupement.nom }}
                    </th>
                    <td>
                        {{ regroupement.email }}
                    </td>
                    <td>
                        {{ regroupement.fermes|join(',') }}
                    </td>
                    <td>
                        {{ modals.modal_post(
                                "modal_remove_" ~ regroupement.id,
                                "Supprimer le regroupement",
                                "Êtes-vous sur de vouloir supprimer ce regroupement ? Cette action est irréversible. Les fermes associés ne seront pas supprimées.",
                                base_url('ferme_regroupement/supprimer/' ~ regroupement.id),
                                "Confirmer la suppression du regroupement"
                            ) }}
                        <a
                            title="Supprimer le regroupement"
                            href="#"
                            data-toggle="modal"
                            data-target="#{{ "modal_remove_" ~ regroupement.id }}">
                            <i class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Supprimer le regroupement"></i>
                        </a>

                        {{ modals.modal_post(
                                "modal_mdp_" ~ regroupement.id,
                                "Voulez-vous vraiment envoyer un mot de passe au regroupement \"" ~ regroupement.email ~ "\" ?",
                                "Cette action créera un mot de passe pour le regroupement (même s'il en a déjà un) qui lui sera envoyé par email",
                                base_url('ferme_regroupement/mdp/' ~ regroupement.id),
                                "Confirmer l'envoi du mot de passe au regroupement"
                            ) }}
                        <a
                            title="Envoyer un mot de passe au regroupement"
                            href="#"
                            data-toggle="modal"
                            data-target="#{{ "modal_mdp_" ~ regroupement.id }}">
                            <i class="glyphicon glyphicon-lock" data-toggle="tooltip" title="Envoyer un mot de passe au regroupement"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
