/* Sticky footer styles
-------------------------------------------------- */
html {
    position:relative;
    min-height:100%;
}

/*HEADER & FOOTER*/

header img {
    width:100%;
}

footer img {
    width:100%;
}

h3 {
    font-size:26px;
    color:#d43100;
}

/* BOUTONS */

/*PRIMARY*/

.btn-primary {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:hover {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #338011;
  border-color: #338011;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #338011;
  border-color: #338011;
}

/*SUCCESS*/

.btn-success {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:hover {
  color: #fff;
  background-color: #94c70a;
  border-color: #95c70b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #fff;
  background-color: #95c70b;
  border-color: #95c70b;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
  background-color: #95c70b;
  border-color: #95c70b;
}

/* BARRE DE NAVIGATION */

.navbar {
    margin-bottom: 0px;
}
.navbar-default {
  background-color: #f5f5f5;
  border-color: #eeeeee;
}
.navbar-default .navbar-brand {
  color: #338011;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #338011;
}
.navbar-default .navbar-text {
  color: #338011;
}
.navbar-default .navbar-nav > li > a {
  color: #338011;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #338011;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #338011;
  background-color: #eeeeee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #338011;
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle {
  border-color: #eeeeee;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eeeeee;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #338011;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #338011;
}
.navbar-default .navbar-link {
  color: #338011;
}
.navbar-default .navbar-link:hover {
  color: #338011;
}

@media (max-width: 767px) {
  .navbar-nav > .dropdown {
    border: 1px solid #ddd;
    border-radius: 9px;
    margin-bottom: 3px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #338011;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #338011;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #338011;
    background-color: #eeeeee;
  }
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

/* LIENS */

a {
  color: #338011;
  text-decoration: none;
}
.btn-link {
  color: #338011;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
a:hover,
a:focus {
  color: #338011;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* HEADER */

.page-header {
    width:100%;
    height:auto;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

/* Slick slider */
.logo-reseau {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
}


/* Modal contact */
#contact-modal .row { /* Préserve les marges latérales de la modal */
    margin-left: 0;
    margin-right: 0;
}

/* Datatables */
.dataTables_wrapper {
    margin-bottom: 20px;
}
table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: transparent;
}
table.dataTable tbody tr.selected, table.dataTable tbody th.selected, table.dataTable tbody td.selected {
    color: rgb(51, 51, 51);
}
table.dataTable tbody tr.selected a, table.dataTable tbody th.selected a, table.dataTable tbody td.selected a {
    color: #338011;
}
/* Contract order */
#form-simulation .form-control {
    z-index: initial; /* Fix Z-index error */
}

/* Utils */
.d-inline-block {
    display: inline-block;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: 1em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: 1em;
}
.ml-1 {
    margin-left: 1em;
}
.text-left {
    text-align: left !important;
}
h3.small {
    font-size: 20px;
}

/* Calendrier */
.calendrier table {
  text-align: center;
  width: 98%;
}
.calendrier td {
  width: 14%;
}
.calendrier th {
  text-align: center;
  background-color: #f5f5f5;
}

/* Fix bootbox */
.bootbox .modal-footer .bootbox-accept {
    margin-bottom: 5px;
}

.form-inline {
    display: inline;
}

/* Flatpickr */
input.flatpickr-input[readonly] {
    background-color: white;
}
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
    background: #338011;
    border-color: #338011;
}

/* Fix row table border and alignment */
.table > tbody > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
