Nouveau message du formulaire de contact Clic'AMAP<br />
<b>Nom : </b> {nom} <br />
<b>Prénom : </b> {prenom} <br />
<b>Email : </b> {email} <br />
<b>Code postal : </b> {cp} <br />
<b>Message : </b> <br />
{message}