{% extends 'base.html.twig' %}

{% block header %}
    {{ render_ci_template('includes/menu.php') }}
{% endblock %}

{% block content %}
    <h3>{{ block('title') }}</h3>
    {% block breadcrumb %}{% endblock %}

    {{ block('main') }}
{% endblock %}
