{% extends 'base_connected.html.twig' %}

{% block title %}Les régions de France{% endblock %}

{% block main %}
    {% if region_all|length > 0 %}
        <div class="alert alert-info">À l'aide des outils de cette liste, vous pourrez ajouter des administrateurs aux régions ainsi qu'aux départements.</div>

        <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th>Régions</th>
                <th class="text-right">Outils</th>
                </tr>
            </thead>
            <tbody>

            {% for region in region_all %}
            <tr>
                <th scope="row">
                    {{ region.nom|capitalize }}
                </th>

                <td class="text-right">
                    {# Logo de la région  #}
                    <a title="Icone du réseau" href="{{ site_url('region/region_logo/' ~ region.id) }}"><i class="glyphicon glyphicon-picture" data-toggle="tooltip" title="Icone du réseau"></i></a>&nbsp;

                    {# Départements de la région #}
                    <a title="Départements de la région" href="{{ site_url('region/departement/' ~ region.id) }}"><i class="glyphicon glyphicon-cloud" data-toggle="tooltip" title="Départements de la région"></i></a>&nbsp;
                    {# Administrateurs de la région #}
                    <a title="Administrateurs de la région" href="{{ site_url('region/reg_admin/' ~ region.id) }}"><i class="glyphicon glyphicon-education" data-toggle="tooltip" title="Administrateurs de la région"></i></a>&nbsp;

                    </td>
                </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
