<p>Bonjour,</p>

<p>Vous avez été désinscrit par l'AMAP de la distrib'AMAP du {{ distribution.date|date }}</p>

<p>
    Merci d’avance.<br />
    Amapiennement,<br />
    {{ distribution.amapLivraisonLieu.amap.nom }}<br />
    {{ distribution.amapLivraisonLieu.amap.email }}<br />
</p>
