<p>Bonjour,</p>

<p>Pour la distrib'AMAP du  {{ distribution.date|date }}, vous êtes inscrit par l'AMAP à la tache suivante : <br />
    - {{ distribution.detail.tache }}<br />
    - de {{ distribution.detail.heureDebut }} à {{ distribution.detail.heureFin }}<br />
</p>

<p>
    Merci d’avance.<br />
    Amapiennement,<br />
    {{ distribution.amapLivraisonLieu.amap.nom }}<br />
    {{ distribution.amapLivraisonLieu.amap.email }}<br />
</p>
