<p>Bonjour,</p>

<p>
    Pour la bonne organisation des livraisons de l’AMAP, nous vous rappelons que vous êtes inscrit.e à la distribution: <br />
    le {{ distribution.date|date }} <br />
    de {{ distribution.detail.heureDebut }} à {{ distribution.detail.heureFin }}<br />
    pour {{ distribution.detail.tache }}<br />
</p>

<p>
    Merci d’avance pour votre implication.<br />
    Amapiennement,<br />
    {{ distribution.amapLivraisonLieu.amap.nom }}<br />
    {{ distribution.amapLivraisonLieu.amap.email }}<br />
</p>
