<p>
    Bonjour, voici vos identifiants pour vous connecter à '.SITE_NAME.' :<br/>
    Adresse email : {{ user.email }}<br/>
    Mot de passe : {{ password }}
</p>
<a href="{{ site_url('/') }}">Cliquez ici pour accéder à l'application</a>
