{% macro modal_post(id, title, body, link, linkConfirmTitle) %}
    <div class="modal fade text-left" id="{{ id }}" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h5 class="modal-title" id="myModalLabel">{{ title }}</h5>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">{{ body }}</div>
                    <form class="text-right" method="POST" action="{{ link }}">
                        <a href="#" class="btn btn-success btn-sm" data-dismiss="modal">NON</a>
                        <button type="submit"
                           class="btn btn-danger btn-sm"
                                title="{{ linkConfirmTitle }}"
                        >OUI</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
